In [1]:
from langchain.llms import GooglePalm
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from sqlalchemy import create_engine,inspect

In [11]:
api_key = 'AIzaSyCmpiCWepXd61qTGWPjUiK2Xb532UHsbkM'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [23]:
pwd

'C:\\Users\\akshay\\Desktop\\scrapper'

In [3]:
engine = create_engine("sqlite:///real_movie_shit.db")
db = SQLDatabase(engine)

In [4]:
print(db.table_info)

CREATE TABLE "Movies" (
	name TEXT,
	image TEXT NOT NULL,
	"inLanguage" TEXT NOT NULL,
	duration TEXT NOT NULL,
	"datePublished" TEXT NOT NULL,
	movie_detail_link TEXT NOT NULL,
	summary TEXT NOT NULL,
	genre TEXT NOT NULL,
	casts TEXT NOT NULL,
	rating REAL NOT NULL,
	PRIMARY KEY (name)
)

/*
3 rows from Movies table:
name	image	inLanguage	duration	datePublished	movie_detail_link	summary	genre	casts	rating
Aavesham	https://assetscdn1.paytm.com/images/cinema/Aavesham-705x750-7e37abf0-f49b-11ee-a428-dbecada3be3a.jpg	Malayalam	PT158M	2024-04-11	/movies/aavesham-movie-detail-169729	A drama movie directed by Jithu Madhavan, starring Fahadh Faasil, Sajin Gopu and Mansoor Ali Khan in	Drama	Fahadh Faasil	9.0
Varshangalkku Shesham	https://assetscdn1.paytm.com/images/cinema/Varshangalkku-Shesham-705x750-f3a1eb40-f49a-11ee-9dc0-116	Malayalam	PT165M	2024-04-11	/movies/varshangalkku-shesham-movie-detail-170314	Revolves around cherished memories or a reunion among a group of friends after a substantial passage	Comedy	Pranav Mohanlal	8.9
Jai Ganesh	https://assetscdn1.paytm.com/images/cinema/Jai-Ganesh--705x750-3b541b20-f49b-11ee-9dc0-116adb004255.	Malayalam	PT126M	2024-04-11	/movies/jai-ganesh-movie-detail-170293	Striving for normalcy, paraplegic designer Ganesh Gangadharan wrestles with inner demons in unforgiv	Family	Unni Mukundan	6.0
*/


CREATE TABLE "Showtimes" (
	theater TEXT,
	movie TEXT,
	showtime TIME,
	FOREIGN KEY(theater) REFERENCES "Theaters" (name),
	FOREIGN KEY(movie) REFERENCES "Movies" (name)
)

/*
3 rows from Showtimes table:
theater	movie	showtime
PVR Inox Lulu, Kochi	Aavesham	18:35:00
PVR Inox Lulu, Kochi	Aavesham	19:05:00
PVR Inox Lulu, Kochi	Aavesham	22:00:00
*/


CREATE TABLE "Theaters" (
	name TEXT,
	address TEXT,
	PRIMARY KEY (name)
)

/*
3 rows from Theaters table:
name	address
PVR Inox Lulu, Kochi	PVR Limited, Lulu International Shopping Mall, Kochi, Kerala 682025, India
Cinepolis Centre Square Mall Kochi	Central Mall, Mahatma Gandhi Road, Ernakulam, Kerala 682035, India
PVR Oberon Kochi	34/195, Mosque Road, NH Bye Pass, Padivattom, Edappally, Kochi, Kerala 682024, India
*/

In [12]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX,SQLITE_PROMPT

In [19]:
chain = SQLDatabaseChain.from_llm(llm, db,verbose=True)

In [20]:
# Example question
question = "actor of Maidan"

# Execute the chain and get the answer
answer = chain.run(question)

print(answer)

> Entering new SQLDatabaseChain chain...
actor of Maidan
SQLQuery:SELECT casts FROM Movies WHERE name = "Maidan"
SQLResult:
Answer:Mammootty
> Finished chain.
Mammootty